<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Adicionar Categoria</title>
        <link rel="stylesheet" href="/~ist102139/app.cgi/static/main.css" />
    </head>
    <body>
        <h1>Adicionar Categoria</h1>
        <form action="adicionar_categoria/update" method="post">
            <p>Nome da Categoria: <input type="text" name="nome" /></p>
            <input
                type="radio"
                id="categoria_simples"
                name="cat"
                value="categoria_simples"
                checked="checked"
            />
            <label for="categoria_simples">Categoria Simples</label>
            <input
                type="radio"
                id="super_categoria"
                name="cat"
                value="super_categoria"
            />
            <label for="super_categoria">Super Categoria</label>
            <p><input type="submit" value="Confirmar" /></p>
        </form>
    </body>
</html>
