<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Eventos de Reposição</title>
        <link rel="stylesheet" href="/~ist1102139/app.cgi/static/main.css" />
    </head>
    <body>
        {% if cursor %}
        <h1>Eventos de Reposição</h1>
        <table>
            <thead>
                <tr>
                    <th>Número de Série</th>
                    <th>Fabricante</th>
                    <th>Listar</th>
                </tr>
            </thead>
            <tbody>
                {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>
                        <!-- <a href="remover_retalhista/update?tin={{ record[0] }}" -->
                        <a href="#"
                            >Listar</a
                        >
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Erro: ao obter dados da base de dados!</p>
        {% endif %}
    </body>
</html>
