<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Menu Principal</title>
        <link rel="stylesheet" href="/~ist1102139/app.cgi/static/main.css" />
    </head>
    <h1>Menu Principal</h1>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="adicionar_categoria">Adicionar Categoria</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="remover_categoria">Remover Categoria</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="adicionar_sub_categoria"
                            >Adicionar Sub-Categoria</a
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="remover_sub_categoria"
                            >Remover Sub-Categoria</a
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="adicionar_retalhista">Adicionar Retalhista</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="remover_retalhista">Remover Retalhista</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="ivms">Listar Eventos de Reposição</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="hierarquia">Listar Sub-Categorias</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
